[Unit]
Description=AdGuard Home: Network-level blocker
ConditionFileIsExecutable=/opt/AdGuardHome/AdGuardHome

Wants=network-online.target
After=network-online.target
Conflicts=systemd-resolved.service
StartLimitIntervalSec=5min
StartLimitBurst=5

[Service]
ExecStart=/opt/AdGuardHome/AdGuardHome -s run

WorkingDirectory=/opt/AdGuardHome

StandardOutput=journal
StandardError=journal

Restart=on-failure

RestartSec=30s
EnvironmentFile=-/etc/sysconfig/AdGuardHome

[Install]
WantedBy=multi-user.target
