[Unit]
Description=Auto convert manga zip to cbz
After=network.target

[Service]
Type=simple
ExecStart=/srv/scripts/manga-zip2cbz.sh
Restart=always
RestartSec=3
User=volkh
Group=www-data

[Install]
WantedBy=multi-user.target
