[Unit]
Description=Mount unit for gnome-46-2404, revision 153
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/gnome-46-2404_153.snap
Where=/snap/gnome-46-2404/153
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
