[Unit]
Description=Mount unit for snapd-desktop-integration, revision 357
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/snapd-desktop-integration_357.snap
Where=/snap/snapd-desktop-integration/357
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
