[Unit]
Description=Start Page API
After=network.target

[Service]
ExecStart=/usr/bin/python3 /srv/www/start/api.py
Restart=always
User=volkh
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/srv/www/start

[Install]
WantedBy=multi-user.target
