[Unit]
Description=WAV to FLAC auto converter

[Service]
ExecStart=/bin/bash /srv/scripts/wav2flac.sh
Restart=always
User=volkh

[Install]
WantedBy=multi-user.target
